<div class="alert alert-danger landing-alert">
         <div class="container text-center">
             <h5>We are in Beta!</h5>
        </div>
    </div>
        <div class="main">
            <div class="section-nude text-center landing-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2>We Are Lovers of Travel and Organisation</h2>
                            <h5>We are an awesome group of students currently attending General Assembly Web Development Immersive in Melbourne, Australia. For our group project we combined our loves of coding, travel and organisation to build a great little travel app to help us save all those travel notes we come across! </h5>
                            <br />
                            <div class="btn btn-danger btn-fill">Cheers!</div>
                        </div>
                    </div>
                </div>
            </div>  


<style type="text/css">

.about-content h3 {
  text-align: center;
  margin-top: 50px;
}

.about-paragraph {
  margin:5px 50px 50px 50px;

}

.about-paragraph:first-letter {
  font-size: 3em;
  margin:10px;
  padding: 5px;
}
</style>